@model List<Model.stasjonPaaBane>

    <div class="form-horizontal">
        <h5>
            <img alt="PlussIkon" src="~/Static/plussTegn.png" width="13" height="13">
            @Html.ActionLink(HttpUtility.HtmlDecode("Legg til ny avgang for " + @Html.DisplayFor(model => model[0].Stasjon)), "LeggTilAvgang", new { id = Model[0].StasjonsID }, htmlAttributes: new { @id = "lenker" })
        </h5>
    </div>
<br />
<h2>
    Oversikt over avganger fra @Html.DisplayFor(model => model[0].Stasjon)
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Bane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Avgang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bane)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avgang)
            </td>
            <td>
                @Html.ActionLink("Endre", "EndreAvgang", new { id = item.stasjonPaaBaneID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Slett", "SlettAvgang", new { id = item.stasjonPaaBaneID }, new { @class = "btn btn-danger" })
         
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Tilbake til oversikt", "OversiktStasjoner")
</div>
