@model Model.stasjonPaaBane

@{
    ViewBag.Title = "EndreAvgang";
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: '/Admin/hentAlleBanenavn',
                type: 'GET',
                dataType: 'json',
                success: visBanerDropdown,
                error: function (x, y, z) {
                    alert();
                }
            });

            function visBanerDropdown(bane) {
                var utStreng = "<option value'' selected hidden>Velg bane </option>";
                for (var i in bane) {
                    utStreng += "<option value = '" + bane[i].BaneID + "'>" + bane[i].Banenavn + "</option>";


                }
                $("#BaneID").append(utStreng);
            }
        });
    </script>
</head>
<body>

    <h2>EndreAvgang</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>stasjonPaaBane</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.stasjonPaaBaneID)


    <dl class="form-horizontal">
        <dt>
            
            <h5>@Html.DisplayNameFor(model => model.Stasjon)</h5>
        </dt>

        <dd>
            @Html.HiddenFor(model => model.StasjonsID)
            @Html.DisplayFor(model => model.Stasjon)
        </dd>

    </dl>

    <dl class="form-horizontal">
        <dt>
            <h5>@Html.DisplayNameFor(model => model.Bane)</h5>
        </dt>

        <dd>
            @Html.HiddenFor(model => model.BaneID)
            @Html.DisplayFor(model => model.Bane)
        </dd>

    </dl>

    <div class="form-group">
        @Html.LabelFor(model => model.Avgang, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Avgang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Avgang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Tilbake til oversikt over stasjoner", "OversiktStasjoner")
    </div>
    </body>
</html>
