@model Model.bane

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Endre banenavn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BaneID)

        <div class="form-group">
            <h5>@Html.LabelFor(model => model.Banenavn, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Banenavn, new { htmlAttributes = new { @class = "form-control", @id = "inputBoks" } })
                @Html.ValidationMessageFor(model => model.Banenavn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lagre nytt navn" class="btn btn-success" id="knapp" />
            </div>
        </div>
        <br />
        <div>
            @Html.ActionLink("Tilbake til oversikt", "OversiktBaner")
        </div>
    </div>
}

