@model Model.stasjonPaaBane

@{
    ViewBag.Title = "EndreAvgang";
}

<!DOCTYPE html>
<html>
<body>

    <h3 class = "text-danger">@ViewBag.save</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Endre avgangstid</h2>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.stasjonPaaBaneID)


            <dl class="form-horizontal">
                <dt>

                    <h5>@Html.DisplayNameFor(model => model.Stasjon)</h5>
                </dt>

                <dd>
                    @Html.HiddenFor(model => model.StasjonsID)
                    @Html.DisplayFor(model => model.Stasjon)
                </dd>

            </dl>

            <dl class="form-horizontal">
                <dt>
                    <h5>@Html.DisplayNameFor(model => model.Bane)</h5>
                </dt>

                <dd>
                    @Html.HiddenFor(model => model.BaneID)
                    @Html.DisplayFor(model => model.Bane)
                </dd>

            </dl>

            <div class="form-group">
                <h5>@Html.LabelFor(model => model.Avgang, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Avgang, new { htmlAttributes = new { @class = "form-control", @id = "inputBoks", @type = "time" } })
                    @Html.ValidationMessageFor(model => model.Avgang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lagre avgangstid" class="btn btn-success" id="knapp" />
                </div>
            </div>
        </div>
        <br />
    }

    <div>
        @Html.ActionLink("Tilbake til oversikt over avganger", "AvgangerPaStasjon", new { id = Model.StasjonsID })
    </div>
</body>
</html>
