@model Model.stasjonPaaBane

<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    $(function () {

        $.ajax({
            url: '/Admin/hentAlleBanenavn',
            type: 'GET',
            dataType: 'json',
            success: visBanerDropdown,
            error: function (x, y, z) {
                alert();
            }
        });

        function visBanerDropdown(bane) {
            var hidden = 0;
            var utStreng = "<option value = '" + hidden + "' selected hidden>" + "Velg bane" + "</option>";
            for (var i in bane) {
                utStreng += "<option value = '" + bane[i].BaneID + "'>" + bane[i].Banenavn + "</option>";
            }
            $("#BaneID").append(utStreng);
        }


            $.ajax({
            url: '/Admin/hentAlleStasjoner',
            type: 'GET',
            dataType: 'json',
            success: visStasjonerDropdown,
            error: function (x, y, z) {
                alert();
            }
        });

        function visStasjonerDropdown(stasjon) {
            var utStreng = "<option value'' selected hidden>Velg stasjon</option>";
            for (var i in stasjon) {
                utStreng += "<option value = '" + stasjon[i].StasjonID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
            }
            $("#StasjonID").append(utStreng);
        }
    });

</script>

</head>
<body>

    <h3 class = "text-danger">@ViewBag.save</h3>

    <form action="/Admin/LeggTilAvgang" method="post" id="leggTilAvgangForm">
        <div class="form-row">
        </div>
    </form>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>
            Legg til ny avgang for @Html.Label(Model.Stasjon)
            @Html.HiddenFor(model => model.StasjonsID)
        </h2>

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group" id="dropDown">
                <h5><label for="exampleFormControlSelect1">Bane</label></h5>
                <select class="form-control" id="BaneID" name="BaneID"></select>
                <div id="feilBane" class="feilmeldinger"></div>
                <div class="editor-field">
                    <div class="col-md-10">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <span class="text-danger">
                                @if (ViewData.ModelState["BaneID"] != null && @ViewData.ModelState["BaneID"].Errors.Count > 0)
                                {
                                    @ViewData.ModelState["BaneID"].Errors[0].ErrorMessage
                                }
                            </span>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5>@Html.LabelFor(model => model.Avgang, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Avgang, new { htmlAttributes = new { @class = "form-control", @id = "inputBoks", @type = "time" } })
                    <span class="text-danger">
                        @if (ViewData.ModelState["Avgang"] != null && @ViewData.ModelState["Avgang"].Errors.Count > 0)
                        {
                            @ViewData.ModelState["Avgang"].Errors[0].ErrorMessage
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Legg til avgang" class="btn btn-success" id="knapp" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Tilbake til oversikt over avganger", "AvgangerPaStasjon", new { id = Model.StasjonsID })
    </div>

</body>
</html>

