@model Model.stasjonPaaBane

<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    $(function () {

        $.ajax({
            url: '/Admin/hentAlleBanenavn',
            type: 'GET',
            dataType: 'json',
            success: visBanerDropdown,
            error: function (x, y, z) {
                alert();
            }
        });

        function visBanerDropdown(bane) {
            var utStreng = "<option value'' selected hidden>Velg bane</option>";
            for (var i in bane) {
                utStreng += "<option value = '" + bane[i].Banenavn + "'>" + bane[i].Banenavn + "</option>";
            }
            $("#Bane").append(utStreng);
        }


            $.ajax({
            url: '/Admin/hentAlleStasjoner',
            type: 'GET',
            dataType: 'json',
            success: visStasjonerDropdown,
            error: function (x, y, z) {
                alert();
            }
        });

        function visStasjonerDropdown(stasjon) {
            var utStreng = "<option value'' selected hidden>Velg stasjon</option>";
            for (var i in stasjon) {
                utStreng += "<option value = '" + stasjon[i].StasjonID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
            }
            $("#StasjonID").append(utStreng);
        }
    });

</script>

</head>
<body>

    <form action="/Admin/LeggTilAvgang" method="post" id="leggTilAvgangForm">
        <div class="form-row">
        </div>
    </form>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>
            Legg til ny avgang for @Html.Label(Model.Stasjon)
            @Html.HiddenFor(model => model.StasjonsID)
        </h2>

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group" id="dropDown">
            <h5><label for="exampleFormControlSelect1">Bane</label></h5>
            <select class="form-control" id="Bane" name="Bane"></select>
            <div id="feilBane" class="feilmeldinger"></div>
            <div class="editor-field">
                <div class="col-md-10">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="field-validation-error">
                            @if (ViewData.ModelState["Bane"] != null && @ViewData.ModelState["Bane"].Errors.Count > 0)
                            {
                                @ViewData.ModelState["Bane"].Errors[0].ErrorMessage
                            }
                        </span>
                    }
                </div>
            </div>
        </div>

            <div class="form-group">
                <h5>@Html.LabelFor(model => model.Avgang, htmlAttributes: new { @class = "control-label col-md-2" })</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Avgang, new { htmlAttributes = new { @class = "form-control", @id = "inputBoks" } })
                    <span class="field-validation-error">
                        @if (ViewData.ModelState["Avgang"] != null && @ViewData.ModelState["Avgang"].Errors.Count > 0)
                        {
                            @ViewData.ModelState["Avgang"].Errors[0].ErrorMessage
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Legg til avgang" class="btn btn-success" id="knapp" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Tilbake til oversikten", "OversiktStasjoner")
    </div>

</body>
</html>

