@model List<Model.bane>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        <a href="@Url.Action("LoggUt", "LoggInn")">Logg ut</a>
    </div>
    <br />
    <div class="form-horizontal">
        <h5>
            <img alt="PlussIkon" src="~/Static/plussTegn.png" width="13" height="13">
            @Html.ActionLink("Legg til ny bane", "LeggTilBane", new { tom = "" }, htmlAttributes: new { @id = "lenker" })
        </h5>
    </div>
    <br />
    <div>
        <!--Må ha med new tom for å få knapp? -->
        @Html.ActionLink("Se alle stasjoner", "OversiktStasjoner", new { tom = "" }, new { @class = "btn btn-success", @id = "knapp" })
        @Html.ActionLink("Se alle baner", "OversiktBaner", new { tom = "" }, new { @class = "btn btn-success", @id = "knapp" })
    </div>
    <br />   
        
    <h4>Banenavn</h4>
         
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Banenavn
                </td>
                <td>
                    @Html.ActionLink("Endre navn", "EndreBane", new { id = item.BaneID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Slett bane", "SlettBane", new { id = item.BaneID }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }
    </table>
</body>
</html>