@model Model.stasjonPaaBane

@{
    ViewBag.Title = "SlettAvgang";
}

<h2>SlettAvgang</h2>

<h3>Er du sikker på at du ønsker å slette denne avgangstiden?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stasjon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stasjon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avgang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avgang)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
       
        <div class="form-actions">
            <input type="submit" value="Slett avgang" class="btn btn-danger" />
        </div>
        <br />
        <div>
            @Html.ActionLink("Tilbake til oversikt", "OversiktStasjoner")
        </div>
    }
</div>
