@model Model.stasjonPaaBane

@{
    ViewBag.Title = "SlettAvgang";
}

    <h3 class = "text-danger">@ViewBag.save</h3>

<h3>Er du sikker på at du ønsker å slette avgangen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h5>@Html.DisplayNameFor(model => model.Stasjon)</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stasjon)
        </dd>

        <dt>
            <h5>@Html.DisplayNameFor(model => model.Bane)</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bane)
        </dd>

        <dt>
            <h5>@Html.DisplayNameFor(model => model.Avgang)</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avgang)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
       
        <div class="form-actions" id="slettKnapp">
            <input type="submit" value="Slett avgang" class="btn btn-danger" />
        </div>
        <br />
        <div>
            @Html.ActionLink("Tilbake til oversikt over avganger", "AvgangerPaStasjon", new { id = Model.StasjonsID })
   
        </div>
    }
</div>
