@model Oppg1.Models.BestillingHjelp

<h2>Bestilling</h2>

Her er dataene:
<table>

    <tr>
        <th>
            Fra stasjon:
        </th>
        <th>
            Til stasjon:
        </th>
        <th>
            Dato
        </th>
        <th>
            Avgang
        </th>
    </tr>
 
        <tr>
            <td>
                @Model.fraStasjon
            </td>
            <td>
                @Model.tilStasjon
            </td>

            <td>
                @Model.dato
            </td>
            <td>
                @Model.avgang
            </td>
        </tr>
    


</table>



Må du endre bestillingen? Klikk tilbake til bestilling for å endre (:
<!--For å komme tilbake til bestillingsvindu-->
<div>
    @Html.ActionLink("Tilbake til bestilling", "Index")
</div>