@model Oppg1.Models.BestillingHjelp
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript.rich.js"></script>

</head>
<body>
    <!--For å komme tilbake til bestillingsvindu-->
    <div>
        @Html.ActionLink("Tilbake til bestilling", "Index")
    </div>

    <br/>

    <h2>Her er din bestillingsinformasjon</h2>
    <br />

    <form action="/Home/Bestilling" method="post">
        <h5>Reiserute</h5>
        <table>
            <tr>
                <th>
                    Avgang
                </th>
                <td name="fraStasjon">
                    @Model.fraStasjon
                </td>
            </tr>
            <tr>
                <th>
                    Ankomst
                </th>
                <td name="tilStasjon">
                    @Model.tilStasjon
                </td>
            </tr>
        </table>

        <br />

        <h5>Utreise</h5>
        <table>
            <tr>
                <th>
                    Dato
                </th>
                <td name="dato">
                    @Model.dato.ToString("dd/MM/yyyy")
                </td>
            </tr>
            <tr>
                <th>
                    Avgangstid
                </th>
                <td name="avgang">
                    @Model.avgang
                </td>
            </tr>
        </table>

        <br />

        @if (!String.IsNullOrEmpty(Model.returDato))
        {
            <h5>Returreise</h5>
            <table>
                <tr>
                    <th>
                        Dato
                    </th>
                    <td name="returDato">
                        @Model.returDato
                    </td>
                </tr>
                <tr>
                    <th>
                        Avgangstid
                    </th>
                    <td name="returAvgang">
                        @Model.returAvgang
                    </td>
                </tr>
            </table>
        }

        <br />

        <h6><strong>Skriv inn din epostadresse for å kjøp av billett</strong></h6>
        <div class="form-group col-md-4">
            <input type="email" class="form-control" id="epost" name="epost" placeholder="Skriv din e-postadresse her">
        </div>

        <div class="form-row">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" id="knappKnapp">
                        <input type="submit" name="Bestilling" value="Kjøp billett" class="btn btn-success" id="bestillKnapp" />
                    </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" id="knappKnapp">
                    <input type="submit" name="bestill" onclick="return validateEmail()" value="Kjøp billett" class="btn btn-success" id="bestillKnapp" />
                </div>
            </div>
        </div>

        <br />

    </form>
</body>
</html>

