@model Oppg1.Models.BestillingHjelp

<h2>Din reservasjon: </h2>

<form action="/Home/Bestilling" method="post">
    <table class="table">

        <tr>
            <th class="thead-light">
                Reise fra:
            </th>
            <th class="thead-light">
                Reise til:
            </th>
            <th>
                Utreise:
            </th>
            <th class="thead-light">
                Tid:
            </th>
        </tr>

        <tr>
            <td name="fraStasjon">
                @Model.fraStasjon
            </td>
            <td name="tilStasjon">
                @Model.tilStasjon
            </td>

            <td name="dato">
                @Model.dato
            </td>
            <td name="avgang">
                @Model.avgang
            </td>
        </tr>
    </table>
    <br />
    <h3>For å kjøpe denne billetten vennligst skriv inn din epost adresse: </h3>

    <input type="email" name="epost" id="epost" required /> 
    <br /><br />
    <input type="submit" name="bestill" id="bestill" value="Kjøp" />

</form>

<!--For å komme tilbake til bestillingsvindu-->
<div>
    @Html.ActionLink("Tilbake til bestilling", "Index")
</div>