@model Oppg1.Models.BestillingHjelp


<!--For å komme tilbake til bestillingsvindu-->
<div>
    @Html.ActionLink("Tilbake til bestilling", "Index")
</div>

<br />


<h2>Her er din bestillingsinformasjon</h2>
<br />

<form>
    <table>

        <tr>
            <th>
                Fra stasjon
            </th>
            <th>
                Til stasjon
            </th>
            <th>
                Dato
            </th>
            <th>
                Avgangstid
            </th>
        </tr>

        <tr>
            <td>
                @Model.fraStasjon
            </td>
            <td>
                @Model.tilStasjon
            </td>

            <td>
                @Model.dato
            </td>
            <td>
                @Model.avgang
            </td>
        </tr>
    </table>
</form>

<br />

<form class="form-horizontal">
    <div class="form-group">
        <label for="exampleFormControlInput1">Skriv din epostadresse om du ønsker bekreftelse på mail</label>
        <input type="email" class="form-control" id="epost" placeholder="Skriv epostadresse her">
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="bestill" value="Bekreft bestilling" class="btn btn-success" id="bestill" />
            </div>
        </div>
    </div>

    <br />

</form>

<style type="text/css">

    #epost:focus {
        border-color: #029678;
        box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
    }

    #bestill {
        background-color: #029678;
    }

    td, th {
        text-align: left;
        padding-right: 40px;
    }
</style>

